@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

body { font-family: Consolas, monospace; }

h1 { 
    position: relative; 
    float: left;
    font-size:150%;
}

h1 span {
    position:absolute;
    top:0;
    right:0;
    width:0;
    background: white; /* same as background */
    border-left: .1em solid black;
    
    box-sizing: border-box;
    width: 100%;
    border-color: transparent;
    animation: blink-caret 1s step-end infinite;
    transition: all 4s steps(15, end);
}

.untyping {
	transition-duration: 2s;
}

.typing {
	width: 0%;
}